.dates{
    margin-bottom: 15px;
    margin-left: 3rem;
}

h1{
    text-align: center;
    margin-bottom: 3rem;
}

.options{
 margin-left: 3rem;
 margin-bottom: 3rem;
}

.dates form input,
.options form select {
    margin-right: 50px; 
}